:root {
    --box-shadow: 0px 5px blue;
}
body {
    background-color: rgb(32, 29, 29);
    margin: 0;
}

#header {
    height: 10vh;
    font-size: 40px;
    background-color: aliceblue;
    margin-bottom: 5vh;
    box-shadow: var(--box-shadow);
}

#card-container {
    margin-top: 5vh;
    background-color: black;
    /* height: 30vh; */
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 240px); 
    grid-template-rows: repeat(4, 300px);
    grid-auto-rows: 200px;
    column-gap: 30px;
    row-gap: 30px;
}

.card {
    background-color: pink;
    box-shadow: var(--box-shadow);
    padding: 10px 10px 5px;
    font-size: 20px;
}



#add-book-form {
    background-color: aliceblue;
}
#add-book-form.hidden {
    display: none;
}

button:hover {
    cursor: pointer;
}