:root {
    --box-shadow: 0px 5px blue;
}
body {
    background-color: rgb(39, 39, 39);
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

#header {
    
    height: 10vh;
    font-size: 60px;
    background-color: aliceblue;
    margin-bottom: 5vh;
    box-shadow: var(--box-shadow);
    padding-top: 30px;
}

#card-container {
    padding: 20px 20px 30px;
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(124, 124, 124);
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 240px); 
    /* grid-template-rows: repeat(4, 300px); */
    grid-auto-rows: 240px;
    column-gap: 30px;
    row-gap: 30px;
}

.title, .author {
    overflow: hidden;
}

.card {
    background-color: rgb(255, 125, 147);
    height: 240px;
    box-shadow: var(--box-shadow);
    padding: 10px 18px 5px;
    font-size: 20px;
}

.pages, .read {
    text-align: end;
}

#pop-up {
    position: absolute;
    left: 0;
    right: 0;
}

#pop-up.hidden {
    display: none;
}

#blocker {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: '';
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}

#form-header {
    margin-top: 50px;

}

#form-header > * {
    font-size: 40px;
}

#close-add-book-form {
    padding: 10px 20px 5px;

}

#add-book-form {
    position: fixed;
    background-color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding-bottom: 40px;
}

#add-button {
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px 15px;
}

#submit-add-book-button {
    margin-top: 20px;
    font-size: 40px;
}

.book-info-div p {
    margin-top: 10px;
    margin-bottom: 4px;
}

.book-info-div span {
    margin-top: 15px;
    margin-bottom: 15px;
}

button:hover {
    cursor: pointer;
}