body {
    background-color: rgb(32, 29, 29);
}
#card-container {
    background-color: black;
    /* height: 30vh; */
    width: auto;
    display: grid;
    grid-template-columns: repeat(3, 150px); 
    /* grid-template-rows: repeat(4, 200px); */
    grid-auto-rows: 200px;
    column-gap: 30px;
    row-gap: 30px;
}

.card {
    background-color: pink;
}

#add-book-form {
    background-color: aliceblue;
}
#add-book-form.hidden {
    display: none;
}

